<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzb.cy.dao.CyOrdLogMapper">
    <!-- resultMap 示例 -->
    <resultMap id="ResultMap" type="com.mzb.cy.dao.model.CyOrdLogDO">
        <id property="transSeqId" column="trans_seq_id"/>
        <result property="transDate" column="trans_date"/>
        <result property="transType" column="trans_type"/>
        <result property="muCard" column="mu_card"/>
        <result property="points" column="points"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="partnerId" column="partner_id"/>
        <result property="stat" column="stat"/>
        <result property="ordId" column="ord_id"/>
        <result property="respCode" column="resp_code"/>
        <result property="respMsg" column="resp_msg"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>

    <select id="queryForPage" parameterType="com.mzb.cy.dao.model.ext.CyOrdLogExtDO" resultMap="ResultMap">
        SELECT *
        FROM cy_ord_log
        where 1=1
        <if test="transDate != null">
            and trans_date=#{transDate}
        </if>
        <if test="transSeqId != null">
            and trans_seq_id=#{transSeqId}
        </if>
        <if test="muCard != null">
            and mu_card=#{muCard}
        </if>
        <if test="transType != null">
            and trans_type=#{transType}
        </if>
        <if test="stat != null">
            and stat=#{stat}
        </if>
        ORDER BY trans_date desc, trans_seq_id desc
        LIMIT #{offset} , #{pageSize}
    </select>






</mapper>