<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzb.cy.dao.CyOrdLogMapper">
    <!-- resultMap 示例 -->
    <resultMap id="ResultMap" type="com.mzb.cy.dao.model.CyOrdLogDO">
        <id property="transSeqId" column="trans_seq_id"/>
        <result property="transDate" column="trans_date"/>
        <result property="transType" column="trans_type"/>
        <result property="muCard" column="mu_card"/>
        <result property="points" column="points"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="partnerId" column="partner_id"/>
        <result property="stat" column="stat"/>
        <result property="ordId" column="ord_id"/>
    </resultMap>

    <select id="queryForPage" parameterType="com.mzb.cy.dao.model.ext.CyOrdLogExtDO" resultMap="ResultMap">
        SELECT * FROM cy_ord_log
        ORDER BY trans_seq_id
            LIMIT #{limit} OFFSET #{offset}
    </select>






</mapper>